// Place all the styles related to the api/categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-page {
  font-family: 'Open Sans', sans-serif;
  color: #090B0C;
}

.main-stats-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 55px;
}

.main-stats-bar > div {
  padding: 30px 45px;
  border-right: 1px solid #DCDEDD;
  font-size: 13px;
  line-height: 1.4;
  width: 25%;
  height: auto;
}

.main-stats-bar > div:last-of-type {
  border-right: none;
}

.stats-title {
  color: #37393A;
}

.stats {
  font-weight: bolder;
}

.category-menu {
  padding-right: 20px;
  padding-left: 20px;
}

.category-menu > ul {
  border-bottom: 1px solid #DCDEDD;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  color: #D3D4D9;
  font-weight: lighter;
}

.category-menu > ul > li:hover {
  color: #9B9E9E;
}

.project-container {
  padding: 10px;
}

.featured-cat-container {
  margin: 30px;
}

.featured-category {
  font-size: 32px;
  padding-right: 15px;
}

.top-view-all {
  font-size: 12px;
}

.top-view-all:hover {
  text-decoration: underline;
  color: #27AEAF;
}

.featured-proj {
  margin: 30px;
  display: flex;
}

.featured-left {
  width: 50%;
  margin-right: 20px
}

.feature-title {
  font-size: 12px;
  margin-bottom: 15px;
}

.proj-image-container {
  height: 92%;
  background-size: cover;
  border: 0.5px solid #DCDEDD
}

.proj-image-container:hover {

}

.project-info-container {
  position: relative;
  top: -145px;
  left: 35px;
  display: inline-block;
}

.project-info-container:hover {
  color: #27AEAF;
  max-width: 85%;
}

.featured-title {
  font-size: 26px;
  background-color: white;
  padding: 5px;
}

.featured-creator {
  background-color: white;
  margin-bottom: 15px;
  padding: 5px;
}

.featured-pledge {
  background-color: white;
  padding: 5px;
}

.featured-right {
  width: 50%;
  margin-left: 20px;
}

.headings {
  display: flex;
  justify-content: space-around;
  color: #D3D4D9;
  font-size: 12px;
  padding-bottom: 15px;
  border-bottom: 1px solid #DCDEDD;
  font-weight: lighter;
}

// .headings >li:first-of-type

.headings >li:hover {
  color: #9B9E9E
}

.project-list-container {
  font-size: smaller;
  position: relative;
  margin-bottom: 10px;
}

.list-item {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-bottom: 0.7px solid #DCDEDD;
}

.list-image {
  width: 30%;
  background-size: cover;
}

.list-image > img {
  height: 100px;
  width: auto;
  margin: auto;
}

.list-item > div {
  width: 63%;
  line-height: 1.6;
}

.list-item > div:hover {
  text-decoration: underline;
  color: #27AEAF;
}

.list-pledge {
  color: #D3D4D9;
  font-size: 13px;
}

.view-all-bottom {
  position: absolute;
  border: 1px solid #D3D4D9;
  padding: 5px 10px;
  font-size: 12px;
}

.view-all-bottom:hover {
  border: 1px solid black;
}

.footer {
  font-family: 'Open Sans', sans-serif;
  color: #090B0C;
  font-size: 13px;
  line-height: 1.6;
  border-top: 1px solid black;
}

.category-list {
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
  border-bottom: 2px solid #DCDEDD;
}

.category-list > li:hover {
  text-decoration: underline;
  color: #27AEAF;
}

.footer-icons {
  padding: 15px;
  color: #9B9E9E;
}

.footer-icons > li {
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 40px;

}

.footer-icons > li > img {
  width: auto;
}

.sample-project-outer-container {
  border-top: 1px solid black;
  padding: 20px 0;
}

.sample-projects-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px;
}

.sample-project-list {
  width: 30%;
  border: 0.5px solid #DCDEDD;
  padding: 5px;
  margin: 10px;
  box-sizing: border-box;
  transition: box-shadow 0.5s;
  box-shadow: none;
}

.sample-project-list:hover {
  text-decoration: underline;
  color: #27AEAF;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.sample-image {
  background-size: cover;
}

.sample-info {
  padding: 10px;
  font-size: 11px;
}

.proj-description {
  color: #525C6B;
}

.proj-link {
  font-weight: bolder;
}
