
 .outer-container {
   padding: 10px 0;
 }

 // app.jsx
 .nav-bar-container {
   position: relative;
   font-family: 'Open Sans', sans-serif;
   border-bottom: 1px solid grey;
   z-index: 1;
 }

 .nav-bar {
   padding: 0 20px;
   display: flex;
   justify-content: space-between;
   margin: auto;
   align-items: center;
   margin-bottom: 10px;
   font-size: 13px;
   color: #090B0C;
 }

.left-corner {
  display: flex;
}

.explore {
  margin-right: 15px;
}

 .logo {
   font-family: 'Sniglet', cursive;
   font-size: 26px;
   color: #E4572E
 }

 // greeting.jsx
 .right-corner {
   text-align: center;
   flex-direction: column;
   position: relative;
 }

 .dropdown-content {
   display: none;
   position: absolute;
   font-size: 14px;
   background-color: #f1f1f1;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }

 .dropdown-content li {
   color: black;
   padding: 10px 20px;
   display: block;
 }

 .dropdown-content li:hover {
   color: orange;
   text-decoration: underline;
 }

 .right-corner:hover .dropdown-content {
   display: block;
   width: 120px;
   left: -70px;
 }

 .signin-link {
   text-decoration: none;
 }

 .signin-link:hover {
   text-decoration: underline;
   color: orange;
 }

.error {
  color: red;
  font-size: 14px;
}
