// Place all the styles related to the api/projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-index-container {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  list-style: none;
}

.project-index-container > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.index-outer-container {
  margin: auto;
}

.image-container {
  margin-top: 30px;
  width: 328px;
  height: 200px;
  background-color: #EDEDF2;
  border: 1px solid #aaa;
  border-bottom: none;
}

.collection {
  position: relative;
  left: 20px;
  top: -15px;
  width: 110px;
  height: 25px;
  padding-top: 5px;
  text-align: center;
  border: 1px solid #aaa;
  font-size: 13px;
  background-color: white;
}

.project-index-item {
  width: 308px;
  height: 260px;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #aaa;
}

.project-img {
  display: block;
  max-width: 328px;
  max-height: 200px;
  width: auto;
  height: auto;
  margin: auto;
}

.title-name {
  width: 360px;
  height: 110px;
  line-height: 2.7;
  margin: 0 10px;
  padding: 0 10px;
}

.project-title {
  font-size: 22px;

}

.project-creator {
  font-size: 13px;
}

.pledge-progress-container {

}

@for $i from 1 through 100 {
  .percentage-#{$i} {
    $value: ($i * 1%);
    width: $value;
  }
}

.percentage {
  height: 0.3rem;
  color: #037362;
  width: 100%;
}

.project-pledge {
  color: #037362;
}

.stats-box {
  width: 324px;
  height: 90px;
  padding: 18px;
  font-size: 13px;
  color: #aaa;
  line-height: 1.7;
}

.project-category {
  font-size: 13px;
  color: #aaa;
  text-decoration: underline;
}

.project-category:hover {
  color: black;
}

// show

.show-outer-container {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.show-top-section {
  background-color: #EDEDF2;
  margin: auto;

}

.title-section {
  display: flex;
  padding: 32px 22px 10px 22px;
}

.title-sec-left {
  flex-direction: column;
  width: 20%;
  height: 118px;
  font-size: 13px;
  padding-left: 35px;
}

.title-sec-left > img {
  max-width: 42px;
  max-height: 42px;
  width: auto;
  height: auto;
  padding-bottom: 10px;
  padding-top: 15px;
}

.creator-info {
  color: black;
}

.creator-info > span {
  color: #aaa;
}

.title-sec-right {
  width: 80%;
  height: 132px;
  padding: 0 12px;
}

.title-sec-right > h1 {
  font-size: 40px;
  color: black;
  padding-bottom: 20px;
}

.title-sec-right > span {
  font-size: 16px;
  color: #aaa;
}

.image-section {
  display: flex;
  padding: 0 45px;
}

.show-image-container {
  width: 70%;
  height: 390px;
  background-color: white;
}

.image {
  max-height: 390px;
  width: auto;
  height: auto;
  margin: auto;
}

.stats-side {
  width: 30%;
  padding: 10px 35px 0 35px;
}

.show-pledged {
  font-size: 24px;
  color: #007460;

}

.stats-side > div {
  font-size: 24px;
}

.stats-side > p {
  font-size: 14px;
  color: #9BA0A4;
  margin-bottom: 10px;
}

.pledge-link-button {
  display: block;
  background-color: #009E74;
  color: white;
  text-align: center;
  font-size: 18px;
  padding-top: 15px;
  width: 300px;
  height: 38px;
  margin-top: 40px;
}

.pledge-link-button:hover {
  background-color: #008561;
}

.small-print-underlined {
  font-size: 11px;
  line-height: 1.5;
  text-decoration: underline;
}

.small-print {
  font-size: 11px;
  line-height: 1.5;
}

.category-location-bottom {
  display: flex;
  color: #59575C;
  font-size: 12px;
  height: 20px;
  padding: 15px 0 50px 45px;
  width: 35%;
  justify-content: space-around;
}

.category-location-bottom > div {
  display: flex;
}

.category-location-bottom > div > img {
  max-height: 15px;
  max-width: 15px;
  height: auto;
  margin-right: 5px;
}

.flash-message {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  position: fixed;
  right: 65px;
  top: 160px;
  color: #F71735;
  text-shadow: 0px 15px 8px #6D8EA0;
  padding:25px;
}

.message-close {
  font-size: 26px;
}
