.project-form {
  font-family: 'Open Sans', sans-serif;
  background-color: #EAEBEB;
  font-size: 14px;
  padding: 10px 30px 40px 30px;
}

.editor-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.editor-menu > li {
  margin-top: 35px;
  padding: 20px 30px;
  border: 0.5px solid #DCDEDD;
  background-color: white;
}

.editor-menu > li:first-child {
  background-color: black;
  color: white;
  margin-right: 20px;
}

.editor-menu > li:first-child:hover {
  background-color: grey;
  color: white;
}

.editor-menu > li:last-child {
  margin-left: 20px;
}

.editor-menu > li:hover {
  color: blue;
}

.editor-menu > li:active {
  background-color: #EAEBEB;
}

.form-top-text {
  text-align: center;
  margin: 20px;
}

.form-top-text > h1 {
  font-size: 32px;
  margin-bottom: 15px;
}

.form-top-text > p {
  font-size: 22px;
  font-weight: lighter;
}

.project-form > form {
  background-color: white;
  padding: 15px;
  margin: 25px;
  position: relative;
  min-height: 540px;
}

.project-form > form > label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 65px;
  background-color: #F8F9FD;
  border-radius: 5px;
  margin: 15px;
}

.field {
  width: 25%;
  padding-left: 30px;
  font-weight: bolder;
}

.input {
  width: 70%;
  padding-right: 30px;
}

.input > input[type=text], select, input[type=date], input[type=number] {
  background-color: white;
  border: 1px solid #DCDEDD;
  font-size: 13px;
  padding-left: 10px;
}

.input > select, input[type=date] {
  width: 100%;
  height: 43px;
  border-radius: 3px;
}

.input > input[type=date] {
  box-sizing: border-box;
}

.input > input[type=number] {
  padding: 10px;
}

.project-form-submit {
  background-color: #0D6937;
  padding: 15px;
  color: white;
  position: absolute;
  right: 50px;
  bottom: 15px;
}

.project-form-submit:hover {
  background-color: #004853;
}

.delete-button {
  position: absolute;
  right: 45px;
  bottom: -260px;
  display: flex;
  align-items: center;
}

.delete-button > img {
  width: 40px;
}

.buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 35px;
}

div.preview-save {
  font-size: 18px;
  background-color: #047F76;
  color: white;
  margin: 6px 0;
  padding: 10px;
}

div.preview-return {
  font-size: 18px;
  background-color: #FF5900;
  color: white;
  margin: 6px 0;
  padding: 10px;
}

div.preview-save:hover {
  background-color: #1EA896;
}

div.preview-return:hover {
  background-color: #FF715B;
}

li.selected-banner {
  background-color: #D0E0EF;
  font-weight: bolder;
}

.proceed-buttons {
  display: flex;
  justify-content: space-evenly;
  font-weight: bolder;
}

.proceed-buttons > button {
  padding: 10px;
  color: grey;
}

.proceed-buttons > button:hover {
  text-decoration: underline;
  color: #27AEAF;
}
