<!DOCTYPE html>
<html>
  <head>
    <title>Hopstarter</title>
    <link rel="shortcut icon" href="./assets/favicon.ico" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <img src='./assets/orange_circle.png' />
    <%= yield %>
  </body>
</html>
